[submodule "submodules/GMR"]
	path = submodules/GMR
	url = git@github.com:YanjieZe/GMR.git
[submodule "submodules/unitree_sdk2_wrapper"]
	path = submodules/unitree_sdk2_wrapper
	url = git@github.com:lzyang2000/unitree_sdk2_wrapper.git
